@import url("CustomElements.css");
@import url("Inputs.css");
@import url("Table.css");
@import url("Calendar.css");

blockquote, figure, details {
	padding-top: 20px 0;
	width: 95%;
	margin: 1em auto;
	box-shadow: 
		inset 0 -3em 3em hsla(var(--fg), 0.1),
		0 0 0 2px hsla(var(--fg), 0.1), 
		0.3em 0.3em .5em hsla(var(--fg), 0.2);
}

details summary, label{
	cursor:pointer;
}
